<launch>
	<param name="/use_sim_time" value="true"/>

	<arg name="map" default="maze"/>

	<include file="stage.launch">
		<arg name="map" value="$(arg map)"/>
	</include>

	<include file="robot.launch">
		<arg name="name" value="robot_0"/>
		<arg name="initial_pose_x" value="12"/>
		<arg name="initial_pose_y" value="12"/>
	</include>
	
	<include file="robot.launch">
		<arg name="name" value="robot_1"/>
		<arg name="initial_pose_x" value="25"/>
		<arg name="initial_pose_y" value="12"/>
	</include>
</launch>
